
@{
    ViewData["Title"] = "About Us!";
}

<h1>Best Used Cars</h1>
<h2>Take Pride in your Ride!</h2>

<p>
    Donald Lewis founded this business in 1955 with YOU the customer in mind!
</p>
<p>
    Today Donalds 3 nephews run the family business, but one thing has not changed;
    You the customer comes FIRST!
</p>
<h3> Contact Us</h3>
<p>
    We are proudly located at: 
    11479 S. DB Cooper Rd.
    Righthere, WA. 98999
</p>
<p>
    Email us at: <a href="mailto:">frontDesk@bestusedcars.com</a>
 </p>
<p>
    <table>
        <tbody>
            <td>For Sales Attn: Huey Lewis....</td> 
            <td> For Service Attn: Duey Lewis....</td>
            <td>For Accounting Attn: Louie Lewis</td>
                      
        </tbody>  
           
      
    </table>
</p>  


