
@{
    ViewData["Title"] = "About Us!";
}

<h1>Best Used Cars</h1>
<h2>Take Pride in your Ride!</h2>

<p>
    This business was established in 1995 with YOU the customer in mind!
</p>
<h3> Contact Us</h3>
<p>
    Email us at: <a href="mailto:">frontDesk@bestusedcars.com</a>
</p>
