
@{
    ViewData["Title"] = "About Us!";
}

<h1>Best Used Cars</h1>
<h2>Take Pride in your Ride!</h2>

<p>
    Donald Lewis founded this business in 1955 with YOU the customer in mind!
</p>
<p>
    Today Donalds 3 nephews run the family business, but one thing has not changed;
    You the customer comes FIRST!
</p>

<body>
    <style>
        body {
            color: white;
            background-image: url("/css/vintage1.jpg");
        }
    </style>
</body>




