
@{
    ViewData["Title"] = "ContactUs";
}

<h1>ContactUs</h1>

<p>
    We are proudly located at:
    11479 S. DB Cooper Rd.
    Righthere, WA. 98999
</p>
<p>
    Email us at: <a href="mailto:">frontDesk@bestusedcars.com</a>
</p>
<div>

    <ul>
        <li>For Sales Attn: Huey Lewis</li>
        <li>For Service Attn: Duey Lewis</li>
        <li>For Accounting Attn: Louie Lewis</li>
    </ul>
</div>
