
@{
    ViewData["Title"] = "ContactUs";
}

<h1>Contact Us</h1>


    We are proudly located at:
<p>
    Best Used Cars
    11479 S. DB Cooper Rd.
    Righthere, WA. 98999
</p>
<p>
    Email us at: <a href="mailto:">frontDesk@bestusedcars.com</a>
</p>
<div>
    <ul>
        <li>For Sales Attn: Huey Lewis <a href="mailto:">huey@bestusedcars.com</a> </li>
        <li>For Service Attn: Duey Lewis <a href="mailto:">duey@bestusedcars.com</a></li>
        <li>For Accounting Attn: Louie Lewis <a href="mailto:">louie@bestusedcars.com</a></li>
    </ul>
</div>

<body>
    <style>
        body {
            color: red;
            font: bolder;
            font-size:x-large;
            background-image: url("/css/vintage2.jpg");
            text-align: right;
        }
    </style>
</body>
