@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

    <div class="text-center">
        <h1 class="display-4">Best Used Cars.Take Pride in your Ride!!</h1>
        
    </div>

    <body>
        <style>
            body {
                color:white;
                background-image: url("/css/vintage1.jpg");
            }
        </style>
</body>
</html>