@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<body>
<p>We respect your privacy and wish you respect ours in return. Thank you.</p>

    <style>
     body   {

        color: orange;
        font: bolder;
        font-size: x-large;
        background-image: url("/css/Opel-GT-Sports-Car-Concept-19.jpg");
        }
    </style>
</body>