
@{
    ViewData["Title"] = "Service";
}

<h1>Service</h1>

<h2>Service Page</h2>
<p>
    We are open Monday-Friday 8am to 6pm except Holidays!
</p>
<p>
    Service Manager Duey Lewis (555) 123-4567
</p>