
@{
    ViewData["Title"] = "Service";
}
<!DOCTYPE html>

<h1>Welcome to the Service Department:</h1>
<h2>Open M-F 8am - 6pm</h2>

<body>
    <style>
        body {
            color: white;
            background-image: url("/css/Mechanic.jpg");
            font: bolder;
            font-size: x-large;
        }
    </style>
    <p>You may contact out Service Depatrment directly at (253) 555-7500!</p> 
</body>
