
@{
    ViewData["Title"] = "Service";
}
<!DOCTYPE html>

<h1>Welcome to the Service Department:</h1>
<h2>Open M-F 8am - 6pm</h2>
<body>
    <style>
        body {
            color: white;
            background-image: url("/css/Mechanic.jpg");
        }
    </style>
</body>
