<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media ="screen" href="StyleSheet.css" />
    <title></title>
    <h1>Current Vehicles at Best Used Cars!!</h1>
</head>
<body>

 
<main class="main-area">
    <article class="masonry">
        
        <figure class="mason-thumb">Vehicle 1</figure>
        <a href="Images/2009MDX_600x450.jpg"></a>
        <figure class="mason-thumb">Vehicle 2</figure>
        <a href="Images/2010CamaroSS_1200x900.jpg"></a>
        <figure class="mason-thumb">Vehicle 3</figure>
        <a href="Images/2018-dodge-challenger_100599138_h.jpg"></a>
        <figure class="mason-thumb">Vehicle 4</figure>
        <a href="Images/2016BMW_600x450.jpg"></a>
        <figure class="mason-thumb">Vehicle 5</figure>
        <a href="Images/aston-martin-v12-vantage-roadster-2.jpg"></a>
        <figure class="mason-thumb">Vehicle 6</figure>
        <a href="Images/_2017GMCSierra_600x450.jpg"></a>
        <figure class="mason-thumb">Vehicle 7</figure>
        <a href="Images/ford-mustang_100698030_l.jpg"></a>
        <figure class="mason-thumb">Vehicle 8</figure>
        <a href="Images/2016-mclaren-540c-reveal-16.jpg"></a>
        <figure class="mason-thumb">Vehicle 9</figure>
        <a href="Images/porsche-mission-e-concept--2015-frankfurt-auto-show-live-photos_100528114_h.jpg"></a>
        
    </article>
</main>

</body>
</html>