<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media ="screen" href="StyleSheet.css" />
    <title></title>
    <h1>Current Vehicles at Best Used Cars!!</h1>
</head>
<body>
    <main class="main-area">
        <article class="masonry">
    <figure class="mason-thumb">
            <a herf="images/2009MDX_600x450.jpg">
        <img src="images/2009MDX_600x450.jpg"></a>
            <figcaption>2009 Acura MDX!</figcaption>
    </figure>
    <figure class="mason-thumb">
        <a href="images/_2017GMCSierra_600x450.jpg">
            <img src="images/_2017GMCSierra_600x450.jpg">
        </a>
        <figcaption>2017 GMC Sierra!</figcaption>
    </figure>
    <figure class="mason-thumb">
        <a href="images/2016BMW_600x450.jpg">
            <img src="images/2016BMW_600x450.jpg">
        </a>
        <figcaption>2016 BMW Nice!</figcaption>
    </figure>
    <figure class="mason-thumb">
        <a href="images/2010CamaroSS_1200x900.jpg">
            <img src="images/2010CamaroSS_1200x900.jpg">
        </a>
        <figcaption> 2010 Camaro SS Loaded!</figcaption>
    </figure>
    <figure class="mason-thumb">
        <a href="images/2018-dodge-challenger_100599138_h.jpg">
            <img src="images/2018-dodge-challenger_100599138_h.jpg">
        </a>
        <figcaption>2018 Dodge Challenger!</figcaption>
    </figure>
    <figure class="mason-thumb">
        <a href="images/aston-martin-v12-vantage-roadster-2.jpg">
            <img src="images/aston-martin-v12-vantage-roadster-2.jpg">
        </a>
        <figcaption>Aston Martin </figcaption>
    </figure>
    <figure class="mason-thumb">
        <a href="images/F150Black_1200x900.jpg">
            <img src="images/F150Black_1200x900.jpg" />
        </a>
        <figcaption>Ford F150</figcaption>
    </figure>
    <figure class="mason-thumb">
        <a href="images/porsche-mission-e-concept--2015-frankfurt-auto-show-live-photos_100528114_h - Copy.jpg">
            <img src="images/porsche-mission-e-concept--2015-frankfurt-auto-show-live-photos_100528114_h - Copy.jpg" />
        </a>
        <figcaption>Porsche!!</figcaption>
    </figure>
    <figure class="mason-thumb">
        <a href="images/2016-mclaren-540c-reveal-16.jpg">
            <img src="images/2016-mclaren-540c-reveal-16.jpg" />
        </a>
        <figcaption> 2016 McLaren!!</figcaption>
    </figure>
        </article>
    </main>

</body>
</html>