h1{
    color:red;
    text-align:center;
}
body {

}

@media only screen and (min-width: 1021px) {
    .masonry {
        column-count: 3;
    }
}
@media only screen and (min-width: 730px) and (max-width:1020px) {
    .masonry {
        column-count: 2;
    }
}
@media only screen and  (max-width:729px) {
    .masonry {
        column-count: 1;
    }
}
figure.mason-thumb a img {
    width: 100%;
}

figure.mason-thumb {
    background-color: white;
    padding: 15px,15px,5px;
    margin: auto auto 1em;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
} 